@model WebPortal.Models.LoginModel
@{
    Layout = null;
    ViewBag.Title = "Log in";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/main.css")" />
    <title>Web Portal</title>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/js/translate.js")"></script>
    <link rel="icon" type="image/png" href="images/favicon.ico" />
    <script type="text/javascript">
        function replaceText() {
            for (var prop in langLogin) {
                var patt = new RegExp(prop, "g");
                $('body').html($('body').html().replace(patt, langLogin[prop]));
            }
        }

        $(document).ready(function () {
            replaceText();
        });
    </script>
</head>
<body id="bodylogin">
    <div id="holderlogin">
        <h1>lang1SvName :: login</h1>
        <div id="login-box">
            <h2></h2>
            <div style="font-size: 10px; position: absolute; text-align: center; padding-left: 50px; top: 86px">langWarning</div>


            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")

                <table>
                    <tr>
                        <td>@Html.LabelFor(m => m.UserName)</td>
                        <td>@Html.TextBoxFor(m => m.UserName)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.Password)</td>
                        <td>@Html.PasswordFor(m => m.Password)</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input name="Submit" type="submit" class="button" style="margin-left: 220px;" /></td>
                    </tr>
                </table>
            }
            <div style="display: none; position: absolute; color: #f00; left: 80px; padding: 2px; background-color: #fff; border-radius: 6px; border: 1px solid black; -moz-border-radius: 6px; background-color: #E7E7E7;" id='error'></div>
        </div>
        <div id="footer">
            <p>
                Made by Stutiguias. Design by renanslk( or redbull52 ).<br />
                WebPortal for more usage info visit the <a href="http://dev.bukkit.org/server-mods/webauctionlite">BukkitDev site</a>.
            </p>
        </div>
    </div>
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>


